.section-hero {
    background-image: url(/assets/img/history-marketing-theory-banner-1140x410.jpg);
    min-height: 45vh ;
    border-bottom: 1pxsolid #dedede;
}
.section-hero, .section-hero-new {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding: 2rem;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

.hero-title {
    font-weight: 400;
    font-size: 2.4rem;
    color: #ffffff;
    margin-bottom: 0.3 rem;
    letter-spacing: 2px;
}

.hero-sub-title {
    font-weight: 300;
    font-size: 1.3rem;
    color: #ffffff;
}

ul.hero-list li {
    padding-bottom: 0.2rem;
}

.section-hero .button-large {
    margin: 2rem ;
}

.-cyan {
    background-color: #00bcd4;
    color: #fff;
    outline: 0!important;
}

.button-large {
    height: 48px;
    line-height: 48px;
}

.button, .button-large, .button-modal, .button-small {
    border: none;
    border-radius: 4px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
    outline: 0;
}

.hero-login-text {
    display: inline-block;
    color: #ffffff;
}
.pl-2, .px-2 {
    padding-left: 0.5
rem
!important;
}