<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeClick()"></button>
            </div>
            <div class="modal-body">
                <app-add-edit [book]="book" *ngIf="ActivateAddEditBook"></app-add-edit>
            </div>
        </div>
    </div>
</div>
<div id="feedback">
    <a href="" data-toggle="modal" data-target="#modal"  (click)="showModal()">ยืมหนังสือ<i class="fas fa-tools"></i></a>
</div>
<div class="modal fade"  #modal id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">แจ้งยืมหนังสือ&nbsp;<i class="fas fa-hard-hat"></i></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
            <p><i class="fas fa-phone prefix grey-text"></i>&nbsp;ชื่อ</p>
          <input type="text" id="form34" class="form-control validate" placeholder="enter your name">
        </div>

        <div class="md-form mb-5">
          <p><i class="fas fa-phone prefix grey-text"></i>&nbsp;เบอร์โทรติดต่อ</p>
          <input type="number" id="form29" class="form-control validate" placeholder="enter your phone numbers">
        </div>

        <div class="md-form">
          <p><i class="fas fa-edit prefix grey-text"></i>&nbsp;ข้อความ</p>
          <textarea type="text" id="form8" class="md-textarea form-control" rows="4" placeholder="enter your messages"></textarea>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-unique">ส่ง&nbsp;<i class="fas fa-paper-plane"></i></button>
      </div>
    </div>
  </div>
</div>

<!-- Searchbox -->
<div class="d-flex flew-row" style="box-shadow: 0 0 3px black;
            -webkit-box-shadow: 2px 3px 8px rgb(175, 122, 122);
            -moz-box-shadow: 2px 3px 8px rgb(156, 129, 129);
            margin-top: 15px; margin-bottom: 15px; height: 40px;
            border-radius: 5px;"
            >
    <div style="padding-top: 10px; padding-left: 5px">
        <fa-icon [icon]="faSearch"></fa-icon>
        หาชื่อหนังสือ
    </div>
    <input [(ngModel)]="BookNameFiltered" (keyup)="filterfn() " placeholder="ใส่ชื่อหนังสือ"
        style="width: 90%; margin-left: 20px;">
</div>

<!-- table viwe
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>ชื่อหนังสือ</th>
            <th>Price (บาท)</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of Bookviewlist">
            <td><img src="{{dataItem.pic_url}}" style="width:120px;height:142px;"></td>
            <td>{{dataItem.bookname}}</td>
            <td>{{dataItem.price}}</td>
        </tr>
    </tbody>
</table> -->
<div style="text-align:center; padding:20px; font-size:large">รายชื่อหนังสือ</div>
<!-- card view -->
<div class="row row-cols-1 row-cols-md-3 g-4" style="z-index:-1">
    <div class="col" *ngFor="let dataItem of Bookviewlist">
      <div class="card h-100 border-primary" (click)="showdata(dataItem)">
        <img src="{{dataItem.pic_url}}" class="card-img-top" alt="..." style="min-width:240px; min-height: 240px;">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">{{dataItem.bookname}}</h5>
          <p class="card-text" style="text-align: center;"> ราคา : {{dataItem.price}} บาท</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>

